<h1>Welcome <%=@user.name%></h1>
  <ul>
    <p><%=@user.email%>
    <p>$<%=@user.money%>
  </ul>

<h4> Your Cats </h4>
  <%if !@user.admin?%>
  <%@user.cats.each do |c| %>
  <ul><%=link_to c.name, cat_path(c)%></ul>
  <%end%>

  <%elsif @user.admin?%>
  <%Cat.personal_cat_collection(@user).each do |c|%>
    <ul><%=link_to c.name, cat_path(c)%></ul>
  <%end%>

<h4>Cats You've Put Up for Adoption</h4>
    <%@user.cats.each do |c| %>
    <ul><%=link_to c.name, cat_path(c)%> - <%=link_to c.agency.name, agency_path(c.agency)%></ul>
    <%end%>
  <%end%>
  <br>


<p><%= link_to 'Edit User', edit_user_path(@user)%>
<p><%= link_to 'Log Out', signout_path%><p>
