<% if flash[:notice] %>
    <h4><div class="notice"><%= flash[:notice] %></div><h4>
<% end %>

<h1>Welcome <%=@user.name%></h1>
  <ul>
    <p><%=@user.email%>
    <p>$<%=@user.money%>
  </ul>

<h4> Your Cats </h4>
  <%Cat.personal_cat_collection(@user).each do |c| %>
  <ul><%=link_to c.name, user_cat_path(@user, c)%></ul>
  <%end%>

  <%if @user.admin?%>
  <h4>Cats You've Put Up for Adoption</h4>
    <%@user.cats.adoptable.each do |c| %>
    <ul><%=link_to c.name, agency_cat_path(c.agency, c)%> - <%=link_to c.agency.name, agency_path(c.agency)%></ul>
    <%end%>
  <%end%>
  <br>


<p><%= link_to 'Edit User', edit_user_path(@user)%>
<p><%= link_to 'Log Out', signout_path%><p>
