<div class="agency-show" data-id="<%=@agency.id%>">
<h1 class="name" class="agency-name-header" id="agency_name" ><%= @agency.name %></h1>
<h4 class="email" class="agency_info" ><%= @agency.email%></h4>
<h4 class="phone_number" class="agency_info" ><%= number_to_phone(@agency.phone_number)%></h4>

<div class="agency_address">
    <p class="street_1"><%=@agency.street_1%></p>
    <p class="street_2"><%=@agency.street_2%></p>
    <p class="city"><%=@agency.city%></p>
    <p class="state"> <%=@agency.state%></p>
    <p class="zip_code"><%=@agency.zip_code%></p>

  </div>
  <% if current_user.admin? %>
    <button class = "small-button" id="<%=@agency.id%>" onClick ='editAgency(this.id)'>Edit Agency</button>
  <%end%>

<br>
<br>



<div class="tab" >
  <button id="cat-index-button" class="tablinks" >Cats at this Agency </button>
  <button id="new-cat-button" class="tablinks"> New Cat </button>
</div>

  <div class="cats-index tabcontent" data-id="<%=@agency.id%>"></div>
  <div id="cat-data" class="tabcontent"></div>



<div id="New Cat"  class="tabcontent newCat">

  <div id="new-cat-form" agencyId="<%=@agency.id%>">
    <br>
    <% if current_user.admin? %>
    <%= render 'cats/form' %>
    <%else%>
    <p> You don't have access to this form! </p>
    <%end%>
  </div>

  <div id="new-cat-show"></div>
    <br>
    <br>
    <button id="newCatFormReload" class="small-button">Add another cat!</button>
    <br>
    <br>
</div>
</div>
