<div class="agency-show" data-id="<%=@agency.id%>">
<h1 class="name" class="agency-name-header" id="agency_name" ><%= @agency.name %></h1>
<h4 class="email" class="agency_info" ><%= @agency.email%></h4>
<h4 class="phone_number" class="agency_info" ><%= number_to_phone(@agency.phone_number)%></h4>

<div class="agency_address">
    <p class="street_1"><%=@agency.street_1%></p>
    <p class="street_2"><%=@agency.street_2%></p>
    <p class="city"><%=@agency.city%></p>
    <p class="state"> <%=@agency.state%></p>
    <p class="zip_code"><%=@agency.zip_code%></p>

  </div>
  <% if current_user.admin? %>
    <button class = "small-button" id="<%=@agency.id%>" onClick ='editAgency(this.id)'>Edit Agency</button>
  <%end%>

<br>
<br>



<div class="tab" >
  <button id="cat-index-button" class="tablinks" >Cats at this Agency </button>
  <button id="new-cat-button" class="tablinks"> New Cat </button>
</div>
<div class="tabcontent">
  <div class="cats-index" data-id="<%=@agency.id%>"></div>
  <div id="cat-data"></div>
</div>


<div id="New Cat"  class="tabcontent newCat">

  <div id="new-cat-form" agencyId="<%=@agency.id%>">

    <h2> Add a New Cat </h2>

    <%= form_for @cat do |f|%>

    <%=f.label 'name'':'%> <br>
    <%=f.text_field :name %> <br>
    <br>
    <%=f.label 'breed'':'%> <br>
    <%=f.text_field :breed %> <br>
    <br>
    <%=f.label 'age'':'%> <br>
    <%=f.text_field :age %> <br>
    <br>
    <%=f.label 'sex'':'%> <br>
    <%=f.select :sex, options_for_select(['Unknown', 'Male', 'Female'], selected: @cat.sex || nil), include_blank: true%><br>
    <br>
    <%= f.label 'disposition'':' %><br>
    <%= f.text_field :disposition%><br>
    <br>
    <%= f.label :cost, "Cost to Adopt:" %><br>
    $<%= f.text_field :cost%><br>
    <br>
    <%= f.label :neutered, "Spayed/Neutered?" %><br>
    <%= f.check_box :neutered%> Yes <br>
    <br>
    <%=f.label 'image', "Image Link:"%> <br>
    <%=f.text_field :image %> <br>
    <br>
    <%= f.label :agency_id, "Adoption Agency:"%> <br>
    <%= f.select :agency_id, options_for_select(Agency.all_agencies, selected: @cat.agency_id || @agency.id)%><br>
    <br>
    <%= f.submit "Submit", data: { disable_with: false }, class:  "small-button" %>
    <%end%>
  </div>

  <div id="new-cat-show"></div>
    <br>
    <br>
    <button id="newCatFormReload" class="small-button">Add another cat!</button>
    <br>
    <br>
</div>
</div>
