<button class="js-previous" data-id="<%= @agency.id %>">Previous Agency</button>
<button class="js-next" data-id="<%= @agency.id %>">Next Agency</button>


<h1 class="name" class="agency-name-header" id="agency_name" ><%= @agency.name %></h1>
<h4 class="email" class="agency_info" ><%= @agency.email%></h4>
<h4 class="phone_number" class="agency_info" ><%= number_to_phone(@agency.phone_number)%></h4>

<div class="agency_address">
    <p class="street_1"><%=@agency.street_1%></p>
    <p class="street_2"><%=@agency.street_2%></p>
    <p class="city"><%=@agency.city%></p>
    <p class="state"> <%=@agency.state%></p>
    <p class="zip_code"><%=@agency.zip_code%></p>

  </div>
  <% if current_user.admin? %>
  <button class = "small-button" id='edit-agency' onClick = 'editAgency()'>Edit Agency</button>
  <%end%>
<br>
<br>
<button class ="id" onClick="agencyCats()"> Cats at ths Agency </button>
<br>
<%if current_user.admin?%>
<%= link_to "New Cat", new_agency_cat_path(@agency.id)%>
<%end%>
<br>
<br>


<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'Cats')">Cats at this Agency</button>
  <button class="tablinks" onclick="openTab(event, 'New Cat')">New Cat</button>
</div>

<div class="tabcontent" class="cats" id="Cats" class="cats-index"  data-id=<%=@agency.id%>>
    <% @agency.cats.adoptable.each do |c| %>
    <button id="cats-index-button" class="cats-index-list" >
      <p id="cat-id"><%=c.id%></p>
      <img id="cat-image" src=<%=c.image%>>
        <p id="cat-name"><%=c.name%></p>
        <p id="cat-breed"><%=c.breed%></p>

      </button>
    <%end%>
</div>





<div id="New Cat" class="tabcontent">

  <div id="new cat form">
    <%=render "cats/form"%>
  </div>

  <div id="postResult">
    <h2 id="catName"></h2>
    </div>
</div>


<script type="text/javascript" charset="utf-8"></script>
