<h1>Cats Index</h1>

<%if @agency%>
  <h4>Cats at <%=@agency.name%></h4>
  <%@agency.cats.adoptable.each do |c|%>
  <%=link_to c.name, agency_cat_path(c.agency, c)%> -<%=c.breed%>
  <%end%>
  <%else%>
  <h4>All Cats</h4>
  <h3>Filter Cats:</h3>
    <%= form_tag("/cats", method: "get") do %>
    <%= select_tag :state, options_for_select(us_states), include_blank: true %>
    <%= submit_tag "Filter by State" %>

    <%= select_tag :breed, options_for_select(Cat.adoptable.all_breeds), include_blank: true %>
    <%= submit_tag "Filter by Breed" %>
 <% end %>

  <% @cats.each do |c| %>
  <ul>
      <%=link_to c.name, agency_cat_path(c.agency, c)%> -
      <%=c.breed%> -
      <%=link_to c.agency.name, agency_path(c.agency)%> -
      <%=c.agency.state%>
      </ul>
  <%end%>

  <%end%>
<br><br><br>
