<h1>Cats Index</h1>

<%if @agency%>
  <h4>Cats at <%=@agency.name%></h4>
  <%else%>
  <h4>All Cats</h4>
  <h3>Filter Cats:</h3>
 <%= form_tag("/cats", method: "get") do %>
  <%= select_tag :state, options_for_select(us_states), include_blank: true %>
   <%= submit_tag "Filter by State" %>

   <%= select_tag :breed, options_from_collection_for_select(@cats, 'id', 'breed'), include_blank: true %>
   <%= submit_tag "Filter by Breed" %>
 <% end %>

  <% @cats.each do |c| %>
  <ul>
      <%=link_to c.name, agency_cat_path(c.agency, c)%> -
      <%=link_to c.agency.name, agency_path(c.agency)%> -
      <%=c.agency.state%>
      </ul>
  <%end%>

  <%end%>
