<h1>Cats Index</h1>

<%if @agency%>
  <h4>Cats at <%=link_to @agency.name, agency_path(@agency)%></h4>
  <%@agency.cats.adoptable.each do |c|%>
  <ul><%=link_to c.name, agency_cat_path(c.agency, c)%> -<%=c.breed%></ul>
  <%end%>
  <%else%>
  <h4>All Cats</h4>
  <h3>Filter Cats:</h3>
    <%= form_tag('/cats/filter', method: "get") do %>
    <%= select_tag :state, options_for_select(us_states), include_blank: true %>
    <%= submit_tag "Filter by State" %>

    <%= select_tag :breed, options_for_select(Cat.all_adoptable_breeds), include_blank: true %>
    <%= submit_tag "Filter by Breed" %>
 <% end %>

  <% @cats.each do |c| %>
  <ul>
      <%=link_to c.name, agency_cat_path(c.agency, c)%> -
      <%=c.breed%> -
      <%=link_to c.agency.name, agency_path(c.agency)%> -
      <%=c.agency.state%>
      </ul>
  <%end%>

  <%end%>
<br><br><br>
