<% if flash[:notice] %>
    <h4><div class="notice"><%= flash[:notice] %></div><h4>
<% end %>

<h1><%=@cat.name%></h1>
<h4><%=link_to @cat.agency.name, agency_path(@cat.agency)%></h4>
<h4><%=@cat.breed%></h4>
<h4><%=@cat.sex%></h4>
<h4><%=@cat.age%> Years Old</h4>
<h4>Cat-itude: <%=@cat.disposition%></h4>
<h4>Spayed/Neutered? <%=@cat.neutered?%></h4>
<h4>Cost to Adopt: $<%=@cat.cost%></h4>
  <% if @cat.adopted? %>
  <h4>Owner: <%= @cat.owner_name%></h4>
  <%end%>
<img src="<%=@cat.image%>" title="<%=@cat.name%>" />
<br>
<br>
<% if !@cat.adopted?%>
<h4><%= link_to 'Adopt Me!', adopt_cat_path(@cat)%></h4>
<%end%>
<br>
<br>

<% if current_user.admin? || @cat.owner_id == current_user.id %>
<%= link_to "Edit Cat", edit_agency_cat_path(@cat)%>
<%= link_to 'Delete',
             cat_path(@cat),
                         method: :delete,
                         data: { confirm: 'Are you sure?' } %>
<%end%>
