<% if flash[:notice] %>
    <h4><div class="notice"><%= flash[:notice] %></div><h4>
<% end %>
<div class="cat-info">
<h1 class="name"><%=@cat.name %> </h1>
<h4 class="agency-show agency" agency_id= "<%=@cat.agency_id%>" ><%=link_to @cat.agency.name, agency_path(@cat.agency)%></h4>
<p class="breed"><span style="font-weight:bold">Breed:</span> <%=@cat.breed%></p>
<p class="sex"><span style="font-weight:bold">Sex:</span> <%=@cat.sex%></p>
<p class="age"><%=@cat.age%>  Years Old</p>
<p class="disposition"><span style="font-weight:bold">Disposition: </span> <%=@cat.disposition%></p>
<p class="neutered"> <span style="font-weight:bold">Spayed/Neutered? </span><%=@cat.neutered?%></p>
<p class="cost"><span style="font-weight:bold">Cost to Adopt: </span> $<%=@cat.cost%></p>
<h4>Owner:</h4>
  <% if @cat.owner_id != nil %>
     <p class="owner_id"> <%= @cat.owner_name%></p>
  <% elsif @cat.owner_id == nil %>
    <p>This cat hasn't been adopted yet!</p>
  <%end%>


  <img class="image" src="<%=@cat.image%>" title="<%=@cat.name%>">


</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<% if !@cat.adopted?%>
<button class="small-button"><%= link_to 'Adopt Me!', adopt_cat_path(@cat)%></button>
<%end%>
<br>
<br>


<% if current_user.admin? || @cat.owner_id == current_user.id %>
<button class="small-button"><%= link_to "Edit Cat", edit_agency_cat_path(@cat)%></button> 
<button class="small-button"><%= link_to 'Delete',
             cat_path(@cat),
                         method: :delete,
                         data: { confirm: 'Are you sure?' } %></button>
<%end%>
