<% if flash[:notice] %>
    <h4><div class="notice"><%= flash[:notice] %></div><h4>
<% end %>
<div class="cat-info">
<h1 class="name"><%=@cat.name%></h1>
<h4 class="agency"><%=link_to @cat.agency.name, agency_path(@cat.agency)%></h4>
<h4>Breed:</h4> <p class="breed"><%=@cat.breed%></p>
<h4 class="sex"><%=@cat.sex%></h4>
<h4 class="age"><%=@cat.age%> Years Old</h4>
<h4> Cat-itude:</h4><p class="disposition"><%=@cat.disposition%></p>
<h4> Spayed/Neutered?</h4> <p class="neutered"><%=@cat.neutered?%></p>
<h4> Cost to Adopt:</h4> <p class="cost">$<%=@cat.cost%></p>
<div class="owner_id">
  <% if @cat.owner_id != nil %>
  <h4>Owner:</h4> <p > <%= @cat.owner_name%></p>
  <%end%>
  </div>
<img class="image" src="<%=@cat.image%>" title="<%=@cat.name%>" />
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<% if !@cat.adopted?%>
<h4><%= link_to 'Adopt Me!', adopt_cat_path(@cat)%></h4>
<%end%>
<br>
<br>
<button class="js-next" data-id="<%= @cat.id %>" agency-id="<%= @cat.agency_id%>">Next Cat</button>


<% if current_user.admin? || @cat.owner_id == current_user.id %>
<%= link_to "Edit Cat", edit_agency_cat_path(@cat)%>
<%= link_to 'Delete',
             cat_path(@cat),
                         method: :delete,
                         data: { confirm: 'Are you sure?' } %>
<%end%>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function() {
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    var agencyId = parseInt($(".js-next").attr("agency-id"))
    $.getJSON("/agencies/" + agencyId + "/cats/" + nextId + ".json", function(data) {
      $(".name").text(data["name"]);
      $(".agency").text(data["agency_id"]["name"])
      $(".breed").text(data["breed"]);
      $(".sex").text(data["sex"]);
      $(".age").text(data["age"]);
      $(".disposition").text(data["disposition"]);
      $(".neutered").text(data["neutered"]);
      $(".cost").text(data["cost"]);
      $(".owner_id").text(data["owner_id"]);
      $(".image").text(data["image"]);

      $(".js-next").attr("data-id", data["id"]);
    });
  });
});
</script>
